/* Hide scrollbars but allow scrolling */
body, html {
  overflow: auto;
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE 10+ */
}

body::-webkit-scrollbar {
  display: none;                /* Chrome, Safari, Edge */
}
